header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header a{
    text-decoration: none;
    font-size: 26px;
    color: var(--main-text-color);
    font-weight: bold;
}

header a:focus{
    color: var(--main-text-color);
}