@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --main-bg-color: #07090e;
  --main-text-color: #e2e7fd;
  --primary-bg-color: rgb(8, 11, 17);
  --primary-bg-color-transparent: rgba(8, 11, 17, 0.8);
  --secondary-bg-color: rgb(31, 35, 51);
  --secondary-bg-color-transparent: rgba(31, 35, 51, .3);
  --navbar-bg-color: rgba(11, 13, 20, 0.8);
  --main-text-color: #e2e7fd;
  --footer-bg-color: #151822;
  --error-message: #01fd40;
  --color-1: #01FDF6;
  --color-2: #32C3FE;
  --color-3: #01fdb1;
  --color-4: #24adfd;
  --main-gradient-color: linear-gradient(to right, var(--color-2), var(--color-1));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #07090e;
  color: var(--main-text-color);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--secondary-bg-color-transparent);
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control input[type="text"], .form-control input[type="password"], .form-control input[type="email"]  {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  border:none;
  border-radius: 5px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.checkbox-container{
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: var(--main-text-color);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--color-1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}